

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editor {
    position: relative;
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.ace_editor {
    background-color: transparent !important;
}
.ace_editor .ace_text-layer {
    color: black !important;
}
.ace_editor .ace_active-line {
    background-color: transparent !important;
}
.ace_text-layer {
    text-align: left !important;
}
.ace_line {
    text-indent: 0 !important;
}
.ace_editor .ace_line-group:first-child .ace_line {
    text-indent: 2em !important;
}

.ace_editor {
    z-index: 0;
}

.ace_editor .ace_selection {
  background: #FFC0CB !important;
}

.ace_editor .ace_cursor {
  color: black;
}


@font-face {
  font-family: 'iawriter';
  src: url('fonts/iAWriterMonoS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#git-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: auto;
    overflow-y: auto;
}

#new-file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: auto;
    overflow-y: auto;
}
